<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <img src = 'http://about.tarung2017.com/foto/914.jpg' />
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I'm currently studying at {{uni}}</article>
    <article>My hobby is {{hobby}}</article>
    <article>{{desc}}</article>
</body>
</html>
